{% if site.copyright.size > 0 or site.legal.size > 0 or site.hydejack.advertise %}
<footer class="content" role="contentinfo">
  <hr/>
    <p><small class="copyright">© hpc-social • {{ 'now' | date: "%Y" }}</small></p>
  {% if site.legal.size > 0 %}
    <nav class="legal"><small>
    {% for node in site.legal %}
      {% if node.external_url %}{% assign url = node.external_url %}{% else %}{% assign url = node.url | default: node.href %}{% endif %}
      <a class="heading flip-title" href="{% include_cached smart-url url=url %}">{{ node.name | default:node.title }}</a>
      {% unless forloop.last %}{{ site.data.strings.separator | default:'|' }}{% endunless %}
    {% endfor %}
    </small></nav>
  {% endif %}
  <hr class="sr-only"/>
</footer>
{% endif %}
